<div class="container a">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<h1><span class="glyphicon glyphicon-music" aria-hidden="true"></span><strong>在籍メンバー一覧表</strong><span class="glyphicon glyphicon-music" aria-hidden="true"></span></h1>
		</div>

		<div class="col-xs-3"></div>
	</div>
</div>

<div class="container27 a">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<p class="in">1期生
			    <br>
			    ◎...キャプテン    ☆☆...エース
			    <br>
			</p>
			<p class="woman2"><a href="http://www.nogizaka46.com/member/detail/akimotomanatsu.php">
		        秋元真夏 あきもと  まなつ	1993年8月20日（26歳）	埼玉県	B型	154cm ◎</a></p>
<p class="woman2"><a href="http://www.nogizaka46.com/member/detail/saitouasuka.php">齋藤飛鳥	さいとう あすか	1998年8月10日（21歳）	東京都	O型	158cm☆☆</a></p>
<p class="woman2"><a href="http://www.nogizaka46.com/member/detail/shiraishimai.php">白石麻衣	しらいし まい	1992年8月20日（27歳）	群馬県	A型	162cm☆☆</a> ※卒業を表明。時期は未定。</p>
<p class="woman2"><a href="http://www.nogizaka46.com/member/detail/takayamakazumi.php">高山一実	たかやま かずみ	1994年2月8日（26歳）	千葉県	A型	162cm</a></p>
<p class="woman"><a href="http://www.nogizaka46.com/member/detail/nakadakana.php">中田花奈	なかだ かな	1994年8月6日（25歳）	埼玉県	A型	158cm</a>※年内限りでの卒業を表明。</p>
<p class="woman"><a href="http://www.nogizaka46.com/member/detail/higuchihina.php">樋口日奈	ひぐち ひな	1998年1月31日（22歳）	東京都	A型	159cm</a></p>
<p class="woman"><a href="http://www.nogizaka46.com/member/detail/hoshinominami.php">星野みなみ	ほしの みなみ	1998年2月6日（22歳）	千葉県	B型	155cm</a></p>
<p class="woman2"><a href="http://www.nogizaka46.com/member/detail/matsumurasayuri.php">松村沙友理	まつむら さゆり	1992年8月27日（27歳）	大阪府	B型	164cm</a></p>
<p class="woman"><a href="http://www.nogizaka46.com/member/detail/wadamaaya.php">和田まあや	わだ まあや	1998年4月23日（22歳）	広島県	O型	160cm</a></p>
<br>
<br>
<p class="in">2期生</p>
<p class="woman">伊藤純奈	いとう じゅんな	1998年11月30日（21歳）	神奈川県	A型	166cm</p>
<p class="woman">北野日奈子	きたの ひなこ	1996年7月17日（24歳）	北海道	O型	158cm</p>
<p class="woman2">新内眞衣	しんうち まい	1992年1月22日（28歳）	埼玉県	B型	165cm</p>
<p class="woman">鈴木絢音	すずき あやね	1999年3月5日（21歳）	秋田県	O型	160cm<</p>
<p class="woman">寺田蘭世	てらだ らんぜ	1998年9月23日（21歳）	東京都	不明	155cm</p>
<p class="woman">堀未央奈	ほり みおな	1996年10月15日（23歳）	岐阜県	O型	160cm</p>
<p class="woman">山崎怜奈	やまざき れな	1997年5月21日（23歳）	東京都	B型	164cm</p>
<p class="woman">渡辺みり愛	わたなべ みりあ	1999年11月1日（20歳）	東京都	O型	153cm</p>
<br>
<br>
<p class="in">3期生</p>
<p class="woman">伊藤理々杏	いとう りりあ	2002年10月8日（17歳）	沖縄県	B型	154cm</p>
<p class="woman">岩本蓮加	いわもと れんか	2004年2月2日（16歳）	東京都	B型	157cm</p>
<p class="woman">梅澤美波	うめざわ みなみ	1999年1月6日（21歳）	神奈川県	A型	170cm</p>
<p class="woman">大園桃子	おおぞの ももこ	1999年9月13日（20歳）	鹿児島県	O型	156cm</p>
<p class="woman">久保史緒里	くぼ しおり	2001年7月14日（19歳）	宮城県	O型	159cm</p>
<p class="woman">阪口珠美	さかぐち たまみ	2001年11月10日（18歳）	東京都	A型	161cm/p>
<p class="woman">佐藤楓	さとう かえで	1998年3月23日（22歳）	愛知県	A型	161cm</p>
<p class="woman">中村麗乃	なかむら れの	2001年9月27日（18歳）	東京都	不明	167cm</p>
<p class="woman">向井葉月	むかい はづき	1999年8月23日（20歳）	東京都	A型	152cm</p>
<p class="woman">山下美月	やました みづき	1999年7月26日（21歳）	東京都	O型	159cm☆☆</p>
<p class="woman">吉田綾乃クリスティー	よしだ あやの	1995年9月6日（24歳）	大分県	A型	161cm</p>
<p class="woman2">与田祐希	よだ ゆうき	2000年5月5日（20歳）	福岡県	O型	152cm☆☆</p>
<br>
<br>
<p class="in">4期生</p>
<p class="woman">遠藤さくら	えんどう さくら	2001年10月3日（18歳）	愛知県	不明	160cm</p>
<p class="woman">賀喜遥香	かき はるか	2001年8月8日（18歳）	栃木県	A型	166cm</p>
<p class="woman">掛橋沙耶香	かけはし さやか 2002年11月20日（17歳) 岡山県 B型	156cm</p>
<p class="woman">金川紗耶	かながわ さや	2001年10月31日（18歳）	北海道	O型	164cm</p>
<p class="woman">北川悠理	きたがわ ゆり	2001年8月8日（18歳）	カリフォルニア州	不明	163cm</p>
<p class="woman">柴田柚菜	しばた ゆな	2003年3月3日（17歳）	千葉県	A型	160cm</p>
<p class="woman2">清宮レイ	せいみや れい	2003年8月1日（16歳）	埼玉県	O型	162cm</p>
<p class="woman2">田村真佑	たむら まゆ	1999年1月12日（21歳）	埼玉県	A型	158cm</p>
<p class="woman">筒井あやめ	つつい あやめ	2004年6月8日（16歳）	愛知県	O型	160cm</p>
<p class="woman">早川聖来	はやかわ せいら	2000年8月24日（19歳）	大阪府	A型	164cm</p>
<p class="woman">矢久保美緒	やくぼ みお	2002年8月14日（17歳）	東京都	B型	152cm</p>
<p class="woman">黒見明香	くろみ はるか	2004年1月19日（16歳）	東京都	O型	162cm</p>
<p class="woman">佐藤璃果	さとう りか	2001年8月9日（18歳）	岩手県	B型	158cm</p>
<p class="woman">林瑠奈	はやし るな	2003年10月2日（16歳）	神奈川県	O型	163cm</p>
<p class="woman">松尾美佑	まつお みゆ	2004年1月3日（16歳）	千葉県	O型	165cm</p>
<p class="woman">弓木奈於	ゆみき なお	1999年2月3日（21歳）	京都府	A型	165cm</p>
		</div>
		<div class="col-xs-2 a"></div>
	</div>
</div>

<div class="container120">
	<div class="row">
		<div class="col-xs-12">
			<div class="about-picture"></div>
		</div>
	</div>
</div>












